/* body{
  background-color: rgb(227, 224, 224);
} */

@font-face{
  font-family: poppins;
  src: url(../public/Poppins-Light.ttf)
}
@font-face {
  font-family: boldPoppins;
  src: url(../public/Poppins-Bold.ttf);
}

.poppins{
  font-family: poppins;
}

.boldPoppins{
  font-family: boldPoppins;
}